
body {
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

section {
    width: 80%;
    height: 600px;
    margin: auto;
    padding: 10px;
    vertical-align: top;
}
div#canvas {
    width: 80%;
    height: 500px;
    float: left;

}
div#instructions {
    margin-left: 10%;
    height: 600px;
    background: black;
    text-align: center;
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
    vertical-align:bottom;
}

