
body {
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

section {
    width: 80%;
    height: 200px;
    margin: auto;
    padding: 10px;
    vertical-align: top;
}
div#canvas {
    width: 15%;
    height: 200px;
    float: left;

}
div#instructions {
    margin-left: 15%;
    height: 200px;
    background: black;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
    vertical-align:bottom;
}

