
body {
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

section {
    width: 80%;
    height: 200px;
    margin: auto;
    padding: 10px;
}
div#canvas {
    width: 15%;
    height: 200px;
    background: red;
    float: left;
}
div#instructions {
    margin-left: 15%;
    height: 200px;
    background: black;
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}

